<template>
  <div class="chart" :style="{'width': width}">
    <span class="font-dark"> {{title}} </span>
    <canvas id="myChart"></canvas>
  </div>

</template>

<script>
import Chart from 'chart.js/auto';
import Tooltip from './Tooltip.js'

export default {
  name: 'LineChart',
  components: {

  },
  props: {
    customOptions: {
      type: Object,
      default: () => ({
        fill: true,
        borderWidth: 2,
        borderColor: '#00A3FF',
        backgroundColor: '1',
        tension: 0.25,
        pointRadius: 0.00001,
        pointBackgroundColor: 'white',
        hoverRadius: 4,
        hoverBorderWidth: 2,
      })
    },
    title: String,
    width: String,
    data: {
      type: Array,
      default: () => []
    },
    dataset: {
      type: Array,
      default: () => []
    }

  },
  data () {
    return {
      ctx: '',
      date: new Date
    }
  },
  methods: {
    setGradient(){
      console.log(this.ctx)
      let grad = this.ctx.createLinearGradient(0, 0, 0, 450)
        grad.addColorStop(1, 'rgba(33, 33, 34, 0.2)')
        grad.addColorStop(0, 'rgba(0, 163, 255, 0.2)')
      return grad
    },
    getDatasets(dataset){
      let data = {
        datasets: [{
          data: [],
          labels: []
        }]
      }
      console.log(dataset)
      data.datasets[0].data = dataset.map(item => item.y.value)
      data.labels = dataset.map(item => item.x.displayName)
      return data
    },
    addCustomOptions(dataset,options){
      for(let key in options){
        if(key == 'backgroundColor'){
          dataset[key] = this.setGradient(options[key])
        } else {
          dataset[key] = options[key]
        }
      }
      return dataset
    },
    getDatasetsForChart(){
      let data = this.getDatasets(this.dataset)
      data.datasets[0] = this.addCustomOptions(data.datasets[0], this.customOptions)
      return data
    }
  },





  mounted(){

    this.date = new Date()
    console.log(this.date)
    const plug = {
      id: 'plug',
      afterDatasetsDraw: chart => {
        console.log('%c CHART', 'color: rgb(0,255,200)')
        console.log(chart)
        console.log(chart.scales.y)
        chart.scales.x._labelItems[0].textAlign = 'left'
        //chart.scales.x._labelItems[0].textOffset = 20
        chart.scales.x._labelItems.forEach(item => {
          //item.textOffset = 20
        })
        chart.scales.y._labelItems.forEach(item => {

        })
        chart.scales.y.paddingRight = 20
        chart.scales.y.paddingLeft = 20
        chart.scales.x._labelItems[chart.scales.x._labelItems.length-1].textAlign = 'right'
      },
      beforeDraw: chart => {
        const background = chart.canvas.getContext('2d');
        background.save();
        background.globalCompositeOperation = 'destination-over';
        background.fillStyle = '#212122';
        background.fillRect(0, 0, chart.width, chart.height);
        background.restore();
        //console.log(chart)
        if (chart.tooltip._active && chart.tooltip._active.length) {
          //console.log(chart)
          var activePoint = chart.tooltip._active[0],
            ctx = chart.ctx,
            x = activePoint.element.x,
            y = activePoint.element.y,
            topY = chart.legend.bottom,
            bottomY = chart.chartArea.bottom,
            left = chart.chartArea.left,
            right =   chart.chartArea.right;

          console.log('%c ACTIVE POINT' , 'color: red')
          console.log(activePoint)
          console.log('%c Context' , 'color: red')


          // Set line opts

          ctx.save();
          ctx.lineWidth = 1;
          ctx.setLineDash([3, 3]);
          ctx.strokeStyle = 'rgba(255,255,255,1)';

          // draw vertical line
          ctx.beginPath();
          ctx.moveTo(x, topY);
          ctx.lineTo(x, bottomY);
          ctx.stroke();

          // Draw horizontal line








          // To change the color on the rectangle, just manipulate the context



          ctx.restore();
        }

      },
      afterDraw: chart => {
        const background = chart.canvas.getContext('2d');
        background.save();
        background.globalCompositeOperation = 'destination-over';
        background.fillStyle = '#212122';
        background.fillRect(0, 0, chart.width, chart.height);
        background.restore();
        //console.log(chart)
        if (chart.tooltip._active && chart.tooltip._active.length) {
          //console.log(chart)
          var activePoint = chart.tooltip._active[0],
              ctx = chart.ctx,
              x = activePoint.element.x,
              y = activePoint.element.y,
              topY = chart.legend.bottom,
              bottomY = chart.chartArea.bottom,
              left = chart.chartArea.left,
              right =   chart.chartArea.right;

          console.log('%c ACTIVE POINT' , 'color: red')
          console.log(activePoint)
          console.log('%c Context' , 'color: red')
          console.log(this)
          const tooltip = new Tooltip(ctx, {x: x ,y: bottomY }, this.dataset[activePoint.index].x.value)
          tooltip.draw()

          // Set line opts

          ctx.save();
          ctx.lineWidth = 1;
          ctx.setLineDash([3, 3]);
          ctx.strokeStyle = 'rgba(255,255,255,0.5)';

          // draw vertical line


          // Draw horizontal line
          ctx.beginPath();
          ctx.moveTo(left, y);
          ctx.lineTo(right, y);
          ctx.stroke();



          ctx.fillStyle = "rgba(0, 0, 0, 0.5)";
          ctx.opacity = 0.5;
          ctx.lineWidth = 0;
          ctx.beginPath();
          ctx.moveTo(x, bottomY);
          ctx.lineTo(x+5, bottomY + 5);
          ctx.lineTo(x-5, bottomY + 5);
          ctx.lineTo(x, bottomY);
          ctx.closePath();
          ctx.fill();




//roundRect(ctx, x, y, width, height, radius, fill, stroke)
          ctx.fillStyle = "rgba(0, 0, 0, 0.5)";
          ctx.opacity = 0.5;
          ctx.lineWidth = 0;





          // To change the color on the rectangle, just manipulate the context



          ctx.restore();
        }
      }
    }

    //const config =
    this.ctx = document.getElementById('myChart').getContext('2d');
    var ctx = this.ctx
    console.log()

    var myChart = new Chart(ctx, {

        type: 'line',
        data: this.getDatasetsForChart(),
        options: {
          layout: {
            padding: {
              left: 0,
              right: 60
            }
          },
          scales: {
            x: {
              afterFit: function(scale) {
                //scale.height = 80 //<-- set value as you wish
              },
              grid: {
                color: '#212122',
                borderColor: '#212122',
                tickColor: '#212122'
              },
              ticks: {
                color: 'white',
                padding: 18
              }
            },
            y: {
              grid: {
                color: 'rgba(255, 255, 255, 0.05)',
                borderColor: '#212122'
              },
              ticks: {
                color: 'white',
                padding: 24
              }
            }

          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          plugins: {
            tooltip: {
              yAlign: 'bottom',
              backgroundColor: '#131313',
              displayColors: false,
              callbacks: {
                  title: function(item, some){
                    return ''
                  },
                  label: function(item, some){
                    console.log('%c ITEM', 'color: red')
                    console.log(item)
                    let value = item.parsed.y
                    return value
                  }
              }
            },
            legend: {
              display: false
              //padding: 0.15,  //percentage of Y range to pad ends of axis
            }
          }
        },
        plugins: [plug]

    });


  }
}
</script>



<style lang="css">

.chart{
  display: flex;
  flex-direction: column;
  background: #212122;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.font-dark{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: 20px;
}
</style>
