<template>
  <div class="global-container">
    <LineChart :dataset="dataset"
               width="100%"
               title="Total hashrate"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import LineChart from '@/components/shared/charts/line/LineChart'
import {IChartDataItems} from "~/types/ChartData";
import {UserMutations} from "~/store/modules/user/mutations";
import {UserState} from "~/store/modules/user/types";


export default Vue.extend({
  name: 'IndexPage',
  components: {
    LineChart
  },
  computed: {
    dataset: {
      get(): UserState {
        return this.$store.getters.getDataset
      }
    }
  }
})
</script>
